cat << 'EOF' > .gitignore
# Node.js there all are the files and folders that should be ignored by Git for a Node.js project. This includes dependencies, logs, build artifacts, and IDE-specific files.
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
EOF 